<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>{{title}}</title>
</head>
<body>

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">

    <!-- Hamburgermenu -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul id="navLeftSide" class="nav navbar-nav">
            <li><a href="/calendar"><span class="glyphicon glyphicon-calendar"></span>Kalender</a></li>
            <li><a href="/user"><span class="glyphicon glyphicon-user"></span>Bruger</a></li>
        </ul>
        <ul id="navRightSide" class="nav navbar-nav pull-right">
            <li><p class="navbar-text">Logget ind som: {{user.username}}</p></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Log ud</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">

    <div class="admin-content" data-id={{user._id}}>

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h1>{{header}}</h1>
            </div>
        </div>

        <div class="alertModal modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Information</h4>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-danger">
                            Luk
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse1">Ferieadministration</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">

                            <div id="usersByApprover"></div>

                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse2">Brugeroprettelse</a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">

                                <div class="text-left">

                                    <form id="registrationForm" class="form-horizontal">

                                        <!-- Brugernavn input -->
                                        <div class="form-group has-feedback">
                                            <label class="col-md-4 control-label">Brugernavn</label>
                                            <div class="col-md-3 inputGroupContainer">
                                                <div class="input-group">
                    <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i></span>
                                                    <input id="registerUsername" name="username"
                                                           placeholder="Brugernavn"
                                                           class="form-control"
                                                           type="text">
                                                </div>
                                            </div>
                                            <span id="registerUsernameInfo" class="help-block small">Skal være mellem 3-10 karakterer lang og må kun indeholde danske bogstaver</span>
                                        </div>

                                        <!-- Adgangskode input -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Adgangskode</label>
                                            <div class="col-md-3 inputGroupContainer">
                                                <div class="input-group">
                    <span class="input-group-addon">
                    <i class="glyphicon glyphicon-lock"></i></span>
                                                    <input id="registerPassword" name="password"
                                                           placeholder="Adgangskode"
                                                           class="form-control"
                                                           type="password">
                                                </div>
                                            </div>
                                            <span id="registerPasswordInfo" class="help-block small">Skal være min. 8 karakterer lang og skal indeholde mindst et bogstav og et tal</span>
                                        </div>

                                        <!-- Fornavn input -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Fornavn</label>
                                            <div class="col-md-3 inputGroupContainer">
                                                <div class="input-group">
                    <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i></span>
                                                    <input id="registerFirstName" name="firstname"
                                                           placeholder="Fornavn"
                                                           class="form-control"
                                                           type="text">
                                                </div>
                                            </div>
                                            <span id="registerFirstNameInfo" class="help-block small">Skal være mellem 2-32 karakterer lang og må kun indeholde danske bogstaver</span>
                                        </div>

                                        <!-- Efternavn input -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Efternavn</label>
                                            <div class="col-md-3 inputGroupContainer">
                                                <div class="input-group">
                    <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i></span>
                                                    <input id="registerSurName" name="surname"
                                                           placeholder="Efternavn"
                                                           class="form-control"
                                                           type="text">
                                                </div>
                                            </div>
                                            <span id="registerSurNameInfo" class="help-block small">Skal være mellem 2-32 karakterer lang og må kun indeholde danske bogstaver</span>
                                        </div>

                                        <!-- E-mail input -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">E-mail</label>
                                            <div class="col-md-3 inputGroupContainer">
                                                <div class="input-group">
                    <span class="input-group-addon">
                    <i class="glyphicon glyphicon-envelope"></i></span>
                                                    <input id="registerEmail" name="email" placeholder="E-mail"
                                                           class="form-control"
                                                           type="text">
                                                </div>
                                            </div>
                                            <span id="registerEmailInfo"
                                                  class="help-block small">Skal være en valid e-mail-adresse</span>
                                        </div>

                                        <!-- Vælg ferieadministrator select -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Ferieadministrator</label>
                                            <div class="col-md-3 selectContainer">
                                                <div class="input-group">
                    <span class="input-group-addon">
                    <i class="glyphicon glyphicon-list"></i></span>
                                                    <select id="registerApprover" name="approver"
                                                            class="form-control selectpicker">
                                                        <option value="no-selection">Ferieadministrator</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <span id="registerApproverInfo"
                                                  class="help-block small">Skal være valgt</span>
                                        </div>

                                        <!-- Admin input checkbox -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Administratorrettigheder</label>
                                            <div class="col-md-3 inputGroupContainer">
                                                <input id="registerAdmin" name="admin" class="form-control"
                                                       type="checkbox">
                                            </div>
                                        </div>

                                        <div class="form-group has-feedback">
                                            <div class="col-md-3 col-md-offset-4 inputGroupContainer">
                                                <button type="submit" id="registerUser"
                                                        class="btn btn-primary form-control">Opret bruger
                                                </button>
                                                <i class="glyphicon glyphicon-log-in form-control-feedback"></i>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse3">Brugeradministration</a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">

                                <div id="userAdministration"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="javascripts/admin-script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/da.js"></script>

<script>
    // Tilføjer admin link i menuen, hvis man er administrator
    var rights = {{user.rights}};
    if (rights == 1) {
        $('#navLeftSide').append('<li><a href="/admin"><span class="glyphicon glyphicon-user"></span>Admin</a></li>');
    }
</script>

</body>
</html>