<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <title>{{title}}</title>
</head>

<body onload="initializeCalendar();">

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">

    <!-- Hamburgermenu -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul id="navLeftSide" class="nav navbar-nav">
            <li><a href="/calendar"><span class="glyphicon glyphicon-calendar"></span>Kalender</a></li>
            <li><a href="/user"><span class="glyphicon glyphicon-user"></span>Bruger</a></li>
        </ul>
        <ul id="navRightSide" class="nav navbar-nav pull-right">
            <li><p class="navbar-text">Logget ind som: {{user.username}}</p></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Log ud</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">

    <div class="user-wrapper">

        <div class="user-search-wrapper">

            <div class="logo-wrapper">
                <div class="logo">
                    <img height="75" width="150" src="images/logo.png">
                </div>
            </div>

            <div class="nav-ext"></div>

        </div>

        <div class="user-container">

            {{#each users}}
                <div data-id="{{ this.id }}" class="user-item">
                    <p>{{ this.firstName }} {{ this.surName }}</p>
                </div>
            {{/each}}

        </div>

    </div>

    <div class="calendar-wrapper">

        <div class="calendar-nav">

            <div class="nav-container">
                <div class="calendar-nav-left">

                    <input class="btn btn-default btn-today" type="button" value="I dag">

                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default btn-prev"><</button>
                        <button type="button" class="btn btn-default btn-next">></button>
                    </div>

                    <span class="current-date"></span>

                </div>

                <div class="calendar-nav-right d-flex">

                    <input data-days="7" class="btn active btn-default display-week" type="button" value="uge">
                    <input data-days="" class="btn btn-default display-month" type="button" value="måned">
                    <input data-days="" class="btn btn-default display-quarter" type="button" value="kvartal">
                    <input data-days="365" class="btn btn-default display-year" type="button" value="år">

                </div>
            </div>

            <div class="calendar-timeLine">

            </div>

        </div>

        <div class="calendar-content" data-id={{user._id}} data-approver={{user.approver}}></div>

    </div>

</div>

<div id="createAbsenceModal" tabindex="-1" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Opret Ferie Vindue</h4>
            </div>
            <div class="modal-body">
                <form id="absenceForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Startdato</label>
                        <div class="col-xs-5 date">
                            <div class="input-group input-append date" id="startDatePicker">
                                <input readonly type="text" class="form-control" name="date"/>
                                <span class="input-group-addon add-on"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Slutdato</label>
                        <div class="col-xs-5 date">
                            <div class="input-group input-append date" id="endDatePicker">
                                <input readonly type="text" class="form-control" name="date"/>
                                <span class="input-group-addon add-on"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Kommentar</label>
                        <div class="col-xs-5">
                            <textarea id="absenceComment"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Privat</label>
                        <div class="col-xs-5">
                            <input type="checkbox" name="privat" id="chbPrivate">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6 col-xs-offset-3">
                            <button type="button" class="btn btn-success btn-opret" data-dismiss="modal" disabled>
                                Opret
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-space btn-annuller" data-dismiss="modal">Annuller
                </button>
            </div>
        </div>
    </div>
</div>

<div id="updateAbsenceModal" tabindex="-1" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Rediger Ferie Vindue</h4>
            </div>
            <div class="modal-body">
                <form id="absenceForm" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Startdato</label>
                        <div class="col-xs-5 date">
                            <div class="input-group input-append date" id="startDateUpdater">
                                <input readonly type="text" class="form-control" name="date"/>
                                <span class="input-group-addon add-on"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Slutdato</label>
                        <div class="col-xs-5 date">
                            <div class="input-group input-append date" id="endDateUpdater">
                                <input readonly type="text" class="form-control" name="date"/>
                                <span class="input-group-addon add-on"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Kommentar</label>
                        <div class="col-xs-5">
                            <textarea id="updateAbsenceCommentApprover"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Privat</label>
                        <div class="col-xs-5">
                            <input type="checkbox" name="privat" id="updateChbPrivateApprover">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6 col-xs-offset-3">
                            <button type="button" class="btn btn-success" id="btn-opdaterApprover" data-dismiss="modal" disabled>Opdater</button>
                            <button type="button" class="btn btn-danger btn-slet btn-space" data-dismiss="modal">Slet</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-space btn-annuller" data-dismiss="modal">Annuller
                </button>
            </div>
        </div>
    </div>
</div>

<div id="updateApprovedAbsenceModal" tabindex="-1" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Rediger Ferie Vindue</h4>
            </div>
            <div class="modal-body">

                <form id="absenceForm" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Startdato</label>
                        <div class="col-xs-5 date">
                            <div class="input-group input-append date startDateViewer">
                                <input readonly type="text" class="form-control" name="date" />
                                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Slutdato</label>
                        <div class="col-xs-5 date">
                            <div class="input-group input-append date endDateViewer">
                                <input readonly type="text" class="form-control" name="date" />
                                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Kommentar</label>
                        <div class="col-xs-5">
                            <textarea id="updateAbsenceCommentUser"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Privat</label>
                        <div class="col-xs-5">
                            <input type="checkbox" name="privat" id="updateChbPrivateUser">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6 col-xs-offset-3">
                            <button type="button" class="btn btn-success" id="btn-opdaterUser" data-dismiss="modal">Opdater</button>
                            <button type="button" class="btn btn-danger btn-anmodSlet btn-space" data-dismiss="modal">Anmod sletning</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-space btn-annuller" data-dismiss="modal">Annuller</button>
            </div>
        </div>
    </div>
</div>

<div id="viewRequestPrivateModal" tabindex="-1" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Se Ferie Vindue</h4>
            </div>
            <div class="modal-body">
                <form id="absenceForm" method="post" class="form-horizontal">

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Startdato</label>
                        <div class="col-xs-5 date">
                            <div class="input-group input-append date startDateViewer">
                                <input readonly type="text" class="form-control" name="date"/>
                                <span class="input-group-addon add-on"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Slutdato</label>
                        <div class="col-xs-5 date">
                            <div class="input-group input-append date endDateViewer">
                                <input readonly type="text" class="form-control" name="date"/>
                                <span class="input-group-addon add-on"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-space btn-annuller" data-dismiss="modal">Annuller
                </button>
            </div>
        </div>
    </div>
</div>

<div id="viewRequestPublicModal" tabindex="-1" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Se Ferie Vindue</h4>
            </div>
            <div class="modal-body">
                <form id="absenceForm" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Startdato</label>
                        <div class="col-xs-5 date">
                            <div class="input-group input-append date startDateViewer">
                                <input readonly type="text" class="form-control" name="date"/>
                                <span class="input-group-addon add-on"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Slutdato</label>
                        <div class="col-xs-5 date">
                            <div class="input-group input-append date endDateViewer">
                                <input readonly type="text" class="form-control" name="date"/>
                                <span class="input-group-addon add-on"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Kommentar</label>
                        <div class="col-xs-5">
                            <textarea readonly class="viewAbsenceComment"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-space btn-annuller" data-dismiss="modal">Annuller
                </button>
            </div>
        </div>
    </div>
</div>

<div id="approverRequestModal" tabindex="-1" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Godkend Ferie Vindue</h4>
            </div>
            <div class="modal-body">
                <form id="absenceForm" method="post" class="form-horizontal">

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Startdato</label>
                        <div class="col-xs-5 date">
                            <div class="input-group input-append date startDateViewer">
                                <input readonly type="text" class="form-control" name="date"/>
                                <span class="input-group-addon add-on"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Slutdato</label>
                        <div class="col-xs-5 date">
                            <div class="input-group input-append date endDateViewer">
                                <input readonly type="text" class="form-control" name="date"/>
                                <span class="input-group-addon add-on"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Kommentar</label>
                        <div class="col-xs-5">
                            <textarea readonly class="viewAbsenceComment"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Privat</label>
                        <div class="col-xs-5">
                            <input disabled="disabled" type="checkbox" name="privat" id="viewChbPrivate">
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-xs-6 col-xs-offset-3">
                            <button type="button" class="btn btn-success btn-godkend" data-dismiss="modal">Godkend
                            </button>
                            <button type="button" class="btn btn-danger btn-afvis btn-space" data-dismiss="modal">
                                Afvis
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-space btn-annuller" data-dismiss="modal">Annuller
                </button>
            </div>
        </div>
    </div>
</div>

<div id="viewApprovedAbsenceModal" tabindex="-1" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Se Ferie Vindue</h4>
            </div>
            <div class="modal-body">
                <form id="absenceForm" method="post" class="form-horizontal">

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Startdato</label>
                        <div class="col-xs-5 date">
                            <div class="input-group input-append date startDateViewer">
                                <input readonly type="text" class="form-control" name="date"/>
                                <span class="input-group-addon add-on"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Slutdato</label>
                        <div class="col-xs-5 date">
                            <div class="input-group input-append date endDateViewer">
                                <input readonly type="text" class="form-control" name="date"/>
                                <span class="input-group-addon add-on"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Kommentar</label>
                        <div class="col-xs-5">
                            <textarea readonly class="viewAbsenceComment"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Privat</label>
                        <div class="col-xs-5">
                            <input disabled="disabled" type="checkbox" name="privat" id="viewChbPrivate">
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-xs-6 col-xs-offset-3">
                            <button type="button" class="btn btn-danger btn-slet" data-dismiss="modal">Slet</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-space btn-annuller" data-dismiss="modal">Annuller
                </button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
        src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"
        integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
        crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
<script src="javascripts/login-script.js"></script>
<script src="javascripts/calendar-script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/da.js"></script>

<script>

    // Tilføjer admin link i menuen, hvis man er administrator
    var rights = {{user.rights}};
    if (rights == 1) {
        $('#navLeftSide').append('<li><a href="/admin"><span class="glyphicon glyphicon-user"></span>Admin</a></li>');
    }

</script>


</body>
</html>