<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>{{title}}</title>
</head>
<body>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>{{header}}</h1>
        </div>
    </div>

    <form id="loginForm" class="form-horizontal">

        <!-- Brugernavn input -->
        <div class="form-group">
            <label class="col-md-2 col-md-offset-2 control-label">Brugernavn</label>
            <div class="col-md-3 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="loginUsername" name="username" placeholder="Brugernavn" class="form-control" type="text" autofocus>
                </div>
            </div>
            <span id="loginUsernameError" class="help-block"></span>
        </div>

        <!-- Adgangskode input -->
        <div class="form-group">
            <label class="col-md-2 col-md-offset-2 control-label">Adgangskode</label>
            <div class="col-md-3 inputGroupContainer">
                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="loginPassword" name="password" placeholder="Adgangskode" class="form-control" type="password">
                </div>
            </div>
            <span id="loginPasswordError" class="help-block"></span>
        </div>

        <div class="form-group has-feedback">
            <div class="col-md-3 col-md-offset-4">
                <button type="submit" id="login" class="btn btn-primary form-control">Log ind</button>
                <i class="glyphicon glyphicon-log-in form-control-feedback"></i>
            </div>
        </div>
    </form>

</div>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="javascripts/login-script.js"></script>
</body>
</html>