<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>{{title}}</title>
</head>
<body>

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">

    <!-- Hamburgermenu -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul id="navLeftSide" class="nav navbar-nav">
            <li><a href="/calendar"><span class="glyphicon glyphicon-calendar"></span>Kalender</a></li>
            <li><a href="/user"><span class="glyphicon glyphicon-user"></span>Bruger</a></li>
        </ul>
        <ul id="navRightSide" class="nav navbar-nav pull-right">
            <li><p class="navbar-text">Logget ind som: {{user.username}}</p></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Log ud</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid">

    <div class="user-content" data-id={{user._id}}>

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h1>{{header}}</h1>
            </div>
        </div>

        <div class="row">

            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion"
                                   href="#collapse1">Min ferie</a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">

                            <div class="table-responsive">
                                <table id="myAbsences" class="table table-hover"></table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/user-script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/da.js"></script>

    <script>
        // Tilføjer admin link i menuen, hvis man er administrator
        var rights = {{user.rights}};
        if (rights == 1) {
            $('#navLeftSide').append('<li><a href="/admin"><span class="glyphicon glyphicon-user"></span>Admin</a></li>');
        }
    </script>

</body>
</html>