* {
    box-sizing: border-box;
}

.container-fluid {
    display: flex;
}

.main-nav-wrapper {
    height: 50px;
    width: 100%;
}

.user-wrapper {
    width: 310px;
}

.user-search-wrapper {
    height: 115px;
}

.user-item {
    line-height: 50px;
    height: 50px;
    border-bottom: 1px solid black;
    padding-left: 15px;
}

.calendar-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.calendar-nav {
    height: 115px;
    padding: 25px 0;
}



.logo{
    height: 70px;
}

.calendar-timeLine {
    margin-top: 15px;
    height: 40px;
    display: flex;
}

.timeLine-day {
    padding-top: 10px;
    text-align: center;
    cursor:pointer;

    flex-basis: 100%;
}

.timeLine-day:nth-child(odd) {
    background-color: rgba(169, 169, 169, 0.2);
}

.timeLine-day:nth-child(even) {
    background-color: rgba(211, 211, 211, 0.2);
}

.nav-container {
    display: flex;
}

.calendar-nav-left {
    flex-grow: 1;
}

.calendar-nav-right {
}

.calendar-content {
    flex: 1;
}

.calendar-item {
    border-bottom: 1px solid black;
    height: 50px;
    display: flex;
}

.day-container {
    display: flex;
    flex-basis: 100%
}

.calendar-day {
    margin: 7px 0;
    flex-basis: 100%
}

.Approved {
    background: #5CEB66;
}

.Pending {
    background: #F03836;
}

.nav-ext {
    background-color: rgba(211, 211, 211, 0.2);
    margin-top: 4px;
    height: 40px;
    width: 100%;
}

.first {
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
}

#absenceComment {
    resize: none;
    width: 218px;
    height: 150px;
}

#updateAbsenceCommentApprover, #updateAbsenceCommentUser, .viewAbsenceComment  {
    resize: none;
    width: 218px;
    height: 150px;
}

.btn-space {
    margin-left: 20%;
}

#btn-opdaterApprover, #btn-opdaterUser, .btn-godkend, .btn-afvis, .btn-opret, .btn-annuller, .btn-slet {
    width: 80px;
    height: 35px;
}
span {
    cursor: pointer;
}

.btn-anmodSlet {
    width: 125px;
    height: 35px;
}

.calendar-day {
    cursor: pointer;
}

.nav-ext {
    padding-top: 10px;
    padding-left: 15px;
}

.start-abs {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.end-abs {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


/*https://color.adobe.com/da/Pet-Site-color-theme-9195918/edit/?copy=true&base=2&rule=Custom&selected=3&name=Kopi%20af%20Pet%20Site&mode=rgb&rgbvalues=0.890196,0.52549,0.301961,0.329412,0.721569,0.8,0.301961,0.301961,0.301961,0.941176,0.219608,0.211765,0.360784,0.921569,0.4&swatchOrder=0,1,2,3,4*/
/*https://color.adobe.com/da/Mi-tema-de-Color-color-theme-9195893/?showPublished=truex*/